body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:531px;
  background:inherit;
  background-color:rgba(37, 171, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:-5px;
  top:850px;
  width:375px;
  height:531px;
}
#u2 {
  position:absolute;
  left:2px;
  top:258px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:67px;
  top:870px;
  width:234px;
  height:130px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:230px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:229px;
}
#u5 {
  position:absolute;
  left:75px;
  top:1010px;
  width:229px;
  height:229px;
}
#u6 {
  position:absolute;
  left:2px;
  top:106px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
  background:inherit;
  background-color:rgba(1, 147, 230, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u11 {
  position:absolute;
  left:191px;
  top:11px;
  width:83px;
  height:18px;
}
#u12 {
  position:absolute;
  left:2px;
  top:1px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:58px;
  background:inherit;
  background-color:rgba(224, 70, 60, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:279px;
  top:11px;
  width:83px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:191px;
  top:11px;
  width:83px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
  background:inherit;
  background-color:rgba(1, 147, 230, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:191px;
  top:28px;
  width:83px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 167, 98, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u19 {
  position:absolute;
  left:12px;
  top:11px;
  width:173px;
  height:18px;
}
#u20 {
  position:absolute;
  left:2px;
  top:1px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:12px;
  top:11px;
  width:173px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 167, 98, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:12px;
  top:28px;
  width:173px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  position:absolute;
  left:-30px;
  top:-30px;
  width:245px;
  height:245px;
}
#u26 {
  position:absolute;
  left:97px;
  top:266px;
  width:185px;
  height:185px;
}
#u27 {
  position:absolute;
  left:2px;
  top:84px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
}
#u29 {
  position:absolute;
  left:112px;
  top:296px;
  width:155px;
  height:155px;
}
#u30 {
  position:absolute;
  left:41px;
  top:31px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
}
#u31 {
  position:absolute;
  left:112px;
  top:296px;
  width:155px;
  height:155px;
}
#u32 {
  position:absolute;
  left:80px;
  top:36px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
}
#u33 {
  position:absolute;
  left:112px;
  top:296px;
  width:155px;
  height:155px;
}
#u34 {
  position:absolute;
  left:80px;
  top:103px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
}
#u35 {
  position:absolute;
  left:112px;
  top:296px;
  width:155px;
  height:155px;
}
#u36 {
  position:absolute;
  left:41px;
  top:108px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
}
#u37 {
  position:absolute;
  left:112px;
  top:296px;
  width:155px;
  height:155px;
}
#u38 {
  position:absolute;
  left:2px;
  top:103px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
}
#u39 {
  position:absolute;
  left:112px;
  top:296px;
  width:155px;
  height:155px;
}
#u40 {
  position:absolute;
  left:2px;
  top:36px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:115px;
}
#u41 {
  position:absolute;
  left:133px;
  top:315px;
  width:112px;
  height:115px;
}
#u42 {
  position:absolute;
  left:2px;
  top:50px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:-15px;
  top:-15px;
  width:185px;
  height:185px;
}
#u43 {
  position:absolute;
  left:112px;
  top:296px;
  width:155px;
  height:155px;
}
#u44 {
  position:absolute;
  left:2px;
  top:70px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u45 {
  position:absolute;
  left:170px;
  top:355px;
  width:39px;
  height:39px;
}
#u45_img.selected {
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:51px;
  height:51px;
}
#u47 {
  position:absolute;
  left:173px;
  top:304px;
  width:31px;
  height:31px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50 {
  position:absolute;
  left:18px;
  top:90px;
}
#u50_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:343px;
  height:128px;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u51 {
  position:absolute;
  left:128px;
  top:34px;
  width:90px;
  height:90px;
}
#u51_img.selected {
  left:-10px;
  top:-10px;
  width:110px;
  height:110px;
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:118px;
  height:118px;
}
#u53 {
  position:absolute;
  left:0px;
  top:30px;
  width:98px;
  height:98px;
}
#u54 {
  position:absolute;
  left:2px;
  top:41px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u55 {
  position:absolute;
  left:253px;
  top:34px;
  width:90px;
  height:90px;
}
#u55_img.selected {
  left:-10px;
  top:-10px;
  width:110px;
  height:110px;
}
#u55.selected {
}
#u56 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
}
#u57 {
  position:absolute;
  left:42px;
  top:12px;
  width:25px;
  height:12px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u58 {
  position:absolute;
  left:2px;
  top:-2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:343px;
  height:128px;
  visibility:hidden;
  background-image:none;
}
#u50_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:118px;
  height:118px;
}
#u59 {
  position:absolute;
  left:124px;
  top:30px;
  width:98px;
  height:98px;
}
#u59_img.selected {
}
#u59.selected {
}
#u60 {
  position:absolute;
  left:2px;
  top:41px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u61 {
  position:absolute;
  left:4px;
  top:34px;
  width:90px;
  height:90px;
}
#u62 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u63 {
  position:absolute;
  left:253px;
  top:34px;
  width:90px;
  height:90px;
}
#u63_img.selected {
  left:-10px;
  top:-10px;
  width:110px;
  height:110px;
}
#u63.selected {
}
#u64 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
}
#u65 {
  position:absolute;
  left:164px;
  top:12px;
  width:25px;
  height:12px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u66 {
  position:absolute;
  left:2px;
  top:-2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:346px;
  height:126px;
  visibility:hidden;
  background-image:none;
}
#u50_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u67 {
  position:absolute;
  left:128px;
  top:34px;
  width:90px;
  height:90px;
}
#u67_img.selected {
  left:-10px;
  top:-10px;
  width:110px;
  height:110px;
}
#u67.selected {
}
#u68 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u69 {
  position:absolute;
  left:4px;
  top:34px;
  width:90px;
  height:90px;
}
#u70 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:116px;
  height:116px;
}
#u71 {
  position:absolute;
  left:250px;
  top:30px;
  width:96px;
  height:96px;
}
#u71_img.selected {
}
#u71.selected {
}
#u72 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
}
#u73 {
  position:absolute;
  left:286px;
  top:12px;
  width:25px;
  height:12px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u74 {
  position:absolute;
  left:2px;
  top:-2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:41px;
  top:225px;
}
#u75_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u78 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u80 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  visibility:hidden;
  background-image:none;
}
#u75_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u84 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u85 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u86 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  visibility:hidden;
  background-image:none;
}
#u75_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u90 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u92 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:169px;
  top:225px;
}
#u94_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  background-image:none;
}
#u94_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u96 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u97 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u99 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u100 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  visibility:hidden;
  background-image:none;
}
#u94_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u102 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u103 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u105 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  visibility:hidden;
  background-image:none;
}
#u94_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u109 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u111 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:290px;
  top:225px;
}
#u113_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  background-image:none;
}
#u113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u116 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u118 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  visibility:hidden;
  background-image:none;
}
#u113_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u121 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u122 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u123 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u124 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:5px;
  visibility:hidden;
  background-image:none;
}
#u113_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u126_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u127 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u128 {
  position:absolute;
  left:22px;
  top:0px;
  width:5px;
  height:5px;
}
#u129 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:25px;
}
#u130 {
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  height:5px;
}
#u131 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 179, 224, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 1px rgba(21, 103, 133, 1);
  -webkit-box-shadow:0px 5px 1px rgba(21, 103, 133, 1);
  box-shadow:0px 5px 1px rgba(21, 103, 133, 1);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:80px;
  top:600px;
  width:230px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u132_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(232, 115, 108, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 1px rgba(224, 70, 60, 1);
  -webkit-box-shadow:0px 5px 1px rgba(224, 70, 60, 1);
  box-shadow:0px 5px 1px rgba(224, 70, 60, 1);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u132.selected {
}
#u133 {
  position:absolute;
  left:2px;
  top:8px;
  width:226px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:40px;
  top:470px;
  width:300px;
  height:50px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
